<div class="cmp-reactcontainer" data-component="reactcontainer"
     data-cmp-is="react-app"
     data-cmp-root-id="devinreactaem-react-root-${resource.path @ context='scriptString'}"
     data-cmp-config='${properties.reactConfig @ context="scriptString"}'>
    <div id="devinreactaem-react-root-${resource.path @ context='scriptString'}"
         class="cmp-reactcontainer__root">
        <noscript>
            <p>This component requires JavaScript to function. Please enable JavaScript in your browser.</p>
        </noscript>
    </div>
</div>
